[submodule "src/GFDL_atmos_cubed_sphere"]
	path = src/GFDL_atmos_cubed_sphere
	url = https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere.git
[submodule "src/FMS"]
	path = src/FMS
	url = https://github.com/NOAA-GFDL/FMS.git
[submodule "src/atmos_drivers"]
	path = src/atmos_drivers
	url = https://github.com/NOAA-GFDL/atmos_drivers.git
[submodule "src/atmos_phys"]
	path = src/atmos_phys
	url = https://github.com/NOAA-GFDL/atmos_phys.git
[submodule "src/FRE-NCtools"]
	path = src/FRE-NCtools
	url = https://github.com/NOAA-GFDL/FRE-NCtools.git
[submodule "src/mkmf"]
	path = src/mkmf
	url = https://github.com/NOAA-GFDL/mkmf.git
